# Packages/

Assets/

roblox.toml
Assets/11d4147098fda918016113b970b5028f62778a57a1d770c6622681710678e8d8.png
Assets/goblin.blend
Assets/goblin.blend1
Assets/icon/mp regen.png
Assets/maps/1/City_2.png
Assets/maps/1/City_3.png
Assets/maps/1/City_4.png
Assets/mobs/goblin/save1.blend
Assets/mobs/goblin/save1.blend1
Assets/mobs/goblin/save2.blend
Assets/mobs/goblin/save3.blend
Assets/mobs/goblin/save3.blend1
Assets/mobs/goblin/save4.blend
Assets/mobs/goblin/save4.blend1
Assets/mobs/goblin/save5.blend
Assets/mobs/goblin/save6.blend
Assets/mobs/goblin/save6.blend1
Assets/mobs/goblin/save6.mtl
Assets/mobs/goblin/save6.obj
Assets/mobs/goblin/export/arms.mtl
Assets/mobs/goblin/export/arms.obj
Assets/mobs/goblin/export/body.mtl
Assets/mobs/goblin/export/body.obj
Assets/mobs/goblin/export/goblin machete.fbx
Assets/mobs/goblin/export/goblin stable.fbx
Assets/mobs/goblin/export/goblin.mtl
Assets/mobs/goblin/export/goblin.obj
Assets/mobs/goblin/export/goblin2.fbx
Assets/mobs/goblin/export/head.mtl
Assets/mobs/goblin/export/head.obj
Assets/mobs/goblin/export/legs.mtl
Assets/mobs/goblin/export/legs.obj
Assets/mobs/goblin/export/machete.fbx
Assets/mobs/goblin/export/torso.mtl
Assets/mobs/goblin/export/torso.obj
Assets/mobs/goblin/export/uppertorso.mtl
Assets/mobs/goblin/export/uppertorso.obj
Assets/mobs/goblin/export/goblin stable.fbm/BaseSkin.png
Assets/mobs/goblin/export/goblin stable.fbm/Eyes.png
Assets/mobs/goblin/export/goblin stable.fbm/goblin stable.fbm
Assets/mobs/goblin/export/goblin stable.fbm/Hands.png
Assets/mobs/goblin/export/goblin stable.fbm/Head.png
Assets/mobs/goblin/export/goblin stable.fbm/Teeth.png
Assets/mobs/goblin/fbx/body.fbx
Assets/mobs/goblin/fbx/goblin.fbx
Assets/mobs/goblin/fbx/head.fbx
Assets/mobs/goblin/fbx/goblin.fbm/BaseSkin.png
Assets/mobs/goblin/fbx/goblin.fbm/Eyes.png
Assets/mobs/goblin/fbx/goblin.fbm/Hands.png
Assets/mobs/goblin/fbx/goblin.fbm/Head.png
Assets/mobs/goblin/fbx/goblin.fbm/Teeth.png
Assets/mobs/goblin/fbx/save4.fbm/Eyes.png
Assets/mobs/goblin/fbx/save4.fbm/Head.png
Assets/mobs/goblin/fbx/save4.fbm/Teeth.png
Assets/mobs/goblin/textures/BaseSkin.png
Assets/mobs/goblin/textures/Eyes.png
Assets/mobs/goblin/textures/Hands.png
Assets/mobs/goblin/textures/Head.png
Assets/mobs/goblin/textures/Teeth.png
